<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] TechnologyOne Number to Word</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechnologyOneTest.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3 top-strip">
            <a href="https://www.technologyonecorp.com/">
                <img src="~/images/T1.svg" class="mb-1" width="200" alt="TechnologyOne Test" />
            </a>
        </nav>
    </header>
    <div class="container center white-bold">
            @RenderBody()
    </div>

    <footer class="float-left border-top footer text-muted">
        <div class="ms-2">
            2024 - TechnologyOne Test
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
